    .c1:hover {
    background-color: yellow;
    }
    .expander {
        
       transition: transform 400ms 0ms, z-index 0ms 400ms; 
      }
      .expander:hover {
        transform: scale(1.02);
        transition: transform 400ms 0ms, z-index 0ms 0ms;
      }
      .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        float: left;

        
      }
      
      /* Darker background on mouse-over */
      .btn:hover {
        background-color: RoyalBlue;
      }
      
      .myDiv {
        background-color: #eaffd0;
        padding-top: 100px;
      }